In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<h1>Importing Data</h1>

<h3>Importing Dataset</h3>

In [2]:
data = pd.read_csv('Disease_Symptom_Prediction/dataset.csv')
data.head()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Symptom_6,Symptom_7,Symptom_8,Symptom_9,Symptom_10,Symptom_11,Symptom_12,Symptom_13,Symptom_14,Symptom_15,Symptom_16,Symptom_17
0,Fungal infection,itching,skin_rash,nodal_skin_eruptions,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fungal infection,skin_rash,nodal_skin_eruptions,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Fungal infection,itching,nodal_skin_eruptions,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fungal infection,itching,skin_rash,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Fungal infection,itching,skin_rash,nodal_skin_eruptions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.shape

(4920, 18)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4920 entries, 0 to 4919
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Disease     4920 non-null   object
 1   Symptom_1   4920 non-null   object
 2   Symptom_2   4920 non-null   object
 3   Symptom_3   4920 non-null   object
 4   Symptom_4   4572 non-null   object
 5   Symptom_5   3714 non-null   object
 6   Symptom_6   2934 non-null   object
 7   Symptom_7   2268 non-null   object
 8   Symptom_8   1944 non-null   object
 9   Symptom_9   1692 non-null   object
 10  Symptom_10  1512 non-null   object
 11  Symptom_11  1194 non-null   object
 12  Symptom_12  744 non-null    object
 13  Symptom_13  504 non-null    object
 14  Symptom_14  306 non-null    object
 15  Symptom_15  240 non-null    object
 16  Symptom_16  192 non-null    object
 17  Symptom_17  72 non-null     object
dtypes: object(18)
memory usage: 692.0+ KB

In [5]:
data.describe()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Symptom_6,Symptom_7,Symptom_8,Symptom_9,Symptom_10,Symptom_11,Symptom_12,Symptom_13,Symptom_14,Symptom_15,Symptom_16,Symptom_17
count,4920,4920,4920,4920,4572,3714,2934,2268,1944,1692,1512,1194,744,504,306,240,192,72
unique,41,34,48,54,50,38,32,26,21,22,21,18,11,8,4,3,3,1
top,Fungal infection,vomiting,vomiting,fatigue,high_fever,headache,nausea,abdominal_pain,abdominal_pain,yellowing_of_eyes,yellowing_of_eyes,irritability,malaise,muscle_pain,chest_pain,chest_pain,blood_in_sputum,muscle_pain
freq,120,822,870,726,378,348,390,264,276,228,198,120,126,72,96,144,72,72

<h3>Importing Symptom Severity Dataset</h3>

In [6]:
data_severity = pd.read_csv('Disease_Symptom_Prediction/Symptom-severity.csv')
data_severity.head()

                Symptom  weight
0               itching       1
1             skin_rash       3
2  nodal_skin_eruptions       4
3   continuous_sneezing       4
4             shivering       5

In [7]:
data_severity.shape

(133, 2)

In [8]:
data_severity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Symptom  133 non-null    object
 1   weight   133 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.2+ KB

In [9]:
data_severity.describe()

           weight
count  133.000000
mean     4.225564
std      1.323543
min      1.000000
25%      3.000000
50%      4.000000
75%      5.000000
max      7.000000

<h1>Pre-Processing</h1>

In [10]:
def remove_spaces_between_word(dataset):
    for col in dataset.columns:
        for i in range(len(dataset[col])):
            if type(dataset[col][i]) == str:
                dataset[col][i] = dataset[col][i].strip()  # will remove additional space
                if dataset[col][i] == 'foul_smell_of urine':
                    dataset[col][i] = 'foul_smell_ofurine'

                else:
                    if ' _' in dataset[col][i]:
                        ele_list = dataset[col][i].split(' _')
                    elif '_ ' in dataset[col][i]:
                        ele_list = dataset[col][i].split('_ ')
                    else:
                        ele_list = dataset[col][i].split()
                    
                    dataset[col][i] = "_".join(ele_list)
    return dataset

In [11]:
new_df = remove_spaces_between_word(data)
new_df.head()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Symptom_6,Symptom_7,Symptom_8,Symptom_9,Symptom_10,Symptom_11,Symptom_12,Symptom_13,Symptom_14,Symptom_15,Symptom_16,Symptom_17
0,Fungal_infection,itching,skin_rash,nodal_skin_eruptions,dischromic_patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fungal_infection,skin_rash,nodal_skin_eruptions,dischromic_patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Fungal_infection,itching,nodal_skin_eruptions,dischromic_patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fungal_infection,itching,skin_rash,dischromic_patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Fungal_infection,itching,skin_rash,nodal_skin_eruptions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h3>Encoding Symptom</h3>

In [12]:
def encoding(dataset):
    for ind in data_severity.index:
        dataset = dataset.replace(data_severity['Symptom'][ind], data_severity['weight'][ind])
    dataset = dataset.fillna(0) # put empty cell to 0
    return dataset

In [13]:
ds = encoding(data)
ds.head()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Symptom_6,Symptom_7,Symptom_8,Symptom_9,Symptom_10,Symptom_11,Symptom_12,Symptom_13,Symptom_14,Symptom_15,Symptom_16,Symptom_17
0,Fungal_infection,1,3,4,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Fungal_infection,3,4,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Fungal_infection,1,4,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Fungal_infection,1,3,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Fungal_infection,1,3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
def still_str(dataset):
    str_set = set()
    for col in dataset.columns[1:]:
        for i in range(len(dataset[col])):
            if type(dataset[col][i]) == str:
                str_set.add(dataset[col][i]);
    print(str_set)

still_str(ds)

set()

In [15]:
ds.dtypes

Disease        object
Symptom_1       int64
Symptom_2       int64
Symptom_3       int64
Symptom_4     float64
Symptom_5     float64
Symptom_6     float64
Symptom_7     float64
Symptom_8     float64
Symptom_9     float64
Symptom_10    float64
Symptom_11    float64
Symptom_12    float64
Symptom_13    float64
Symptom_14    float64
Symptom_15    float64
Symptom_16    float64
Symptom_17    float64
dtype: object

<h1>Model</h1>

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, accuracy_score, confusion_matrix ,classification_report, precision_score
from sklearn.ensemble import RandomForestClassifier

In [17]:
X = ds.drop('Disease',axis=1)
Y = ds['Disease']

X_train,X_test,y_train,y_test = train_test_split(X,Y,shuffle=True,train_size=0.7)
rf = RandomForestClassifier()
rf.fit(X_train,y_train)

RandomForestClassifier()

In [18]:
prediction = rf.predict(X_test)
print("\nAccuracy:",accuracy_score(y_test,prediction)*100)
print("\nPrecision:",precision_score(y_test,prediction,average='macro')*100)
print("\nF1-Score:",f1_score(y_test,prediction,average='macro')*100)
print("\nClassification Report:\n",classification_report(y_test, prediction))

Accuracy: 99.1869918699187

Precision: 99.2629841325247

F1-Score: 99.22352090607099

Classification Report:
                                         precision    recall  f1-score   support

(vertigo)_Paroymsal_Positional_Vertigo       1.00      1.00      1.00        29
                                  AIDS       1.00      1.00      1.00        40
                                  Acne       1.00      1.00      1.00        35
                   Alcoholic_hepatitis       1.00      1.00      1.00        40
                               Allergy       0.92      1.00      0.96        33
                             Arthritis       1.00      1.00      1.00        33
                      Bronchial_Asthma       1.00      1.00      1.00        49
                  Cervical_spondylosis       1.00      0.94      0.97        49
                           Chicken_pox       1.00      1.00      1.00        34
                   Chronic_cholestasis       1.00      1.00      1.00        34
                           Common_Cold       1.00      1.00      1.00        43
                                Dengue       1.00      1.00      1.00        35
                              Diabetes       1.00      1.00      1.00        31
          Dimorphic_hemmorhoids(piles)       1.00      1.00      1.00        30
                         Drug_Reaction       1.00      1.00      1.00        37
                      Fungal_infection       1.00      0.88      0.94        34
                                  GERD       1.00      1.00      1.00        39
                       Gastroenteritis       0.90      0.95      0.92        37
                          Heart_attack       1.00      1.00      1.00        31
                           Hepatitis_B       1.00      1.00      1.00        41
                           Hepatitis_C       1.00      1.00      1.00        36
                           Hepatitis_D       1.00      1.00      1.00        29
                           Hepatitis_E       1.00      1.00      1.00        32
                          Hypertension       0.88      1.00      0.94        38
                       Hyperthyroidism       1.00      1.00      1.00        32
                          Hypoglycemia       1.00      1.00      1.00        41
                        Hypothyroidism       1.00      1.00      1.00        41
                              Impetigo       1.00      0.95      0.97        37
                              Jaundice       1.00      1.00      1.00        30
                               Malaria       1.00      1.00      1.00        33
                              Migraine       1.00      1.00      1.00        36
                       Osteoarthristis       1.00      1.00      1.00        33
          Paralysis_(brain_hemorrhage)       1.00      0.98      0.99        41
                   Peptic_ulcer_diseae       1.00      1.00      1.00        43
                             Pneumonia       1.00      1.00      1.00        32
                             Psoriasis       1.00      1.00      1.00        32
                          Tuberculosis       1.00      1.00      1.00        39
                               Typhoid       1.00      1.00      1.00        34
               Urinary_tract_infection       1.00      1.00      1.00        35
                        Varicose_veins       1.00      1.00      1.00        35
                           hepatitis_A       1.00      1.00      1.00        33

                              accuracy                           0.99      1476
                             macro avg       0.99      0.99      0.99      1476
                          weighted avg       0.99      0.99      0.99      1476

In [19]:
df_precaution = pd.read_csv('Disease_Symptom_Prediction/symptom_precaution.csv')
df_precaution.head()

,Disease,Precaution_1,Precaution_2,Precaution_3,Precaution_4
0,Drug Reaction,stop irritation,consult nearest hospital,stop taking drug,follow up
1,Malaria,Consult nearest hospital,avoid oily food,avoid non veg food,keep mosquitos out
2,Allergy,apply calamine,cover area with bandage,NaN,use ice to compress itching
3,Hypothyroidism,reduce stress,exercise,eat healthy,get proper sleep
4,Psoriasis,wash hands with warm soapy water,stop bleeding using pressure,consult doctor,salt baths

In [20]:
X_test.iloc[0].values.reshape(1, -1)

array([[3., 5., 7., 3., 3., 5., 6., 2., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.]])

In [21]:
pred = rf.predict(X_test.iloc[0].values.reshape(1, -1))

C:\Users\Shivang\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [22]:
for i in range(len(df_precaution['Disease'])):
    pred = pred[0].split('_')
    p = ' '.join(pred)
    if df_precaution['Disease'][i] == p:
        print('Precaution 1:',df_precaution['Precaution_1'][i])
        print('Precaution 2:',df_precaution['Precaution_2'][i])        
        print('Precaution 3:',df_precaution['Precaution_3'][i])        
        print('Precaution 4:',df_precaution['Precaution_4'][i])

Precaution 1: Consult nearest hospital
Precaution 2: avoid oily food
Precaution 3: avoid non veg food
Precaution 4: keep mosquitos out